<nav>
    <ul>
        <li><a href="../profile">profile</a></li>
        <li><a href="../form">form</a></li>
        <li><a href="../404">404</a></li>
        <li><a href="../carlos">carlosm</a></li>
        <li><a href="/">index</a></li>
    </ul>
</nav>